 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
body {
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}
 
.crud {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
 
.head {
    text-align: center;
    color: #00796b;
    margin-bottom: 20px;
    font-size: 20px
}

 
.inputs input,
.searchby input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #00796b;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.inputs input:hover,
.searchby input:hover {
    background-color: #e0f2f1;
}

 
.money {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.money input {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #00796b;
    border-radius: 8px;
}

.money input:hover {
    background-color: #e0f2f1;
}

 
#total {
    background: #016ba8;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid darkgreen;
}

#total:hover {
    background: #0145c3;
}
 
button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: white;
    background: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #004d40;
}

 
.searchbtns {
    display: flex;
    gap: 10px;
}


.searchbtns button {
    flex: 1;
}

 
.tproduct {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}
 
hr {
    width: 50%;
    margin: 10px auto;
    border: 2px solid #00796b;
}

 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #00796b;
    color: white;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background: #f4f7f6;
}

tbody tr:hover {
    background: #e0f2f1;
}

#deleteAll {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
